* {
  margin: 10px;
  padding: 0;
}
body {
  font: 16px Helvetica, Sans-Serif;
  line-height: 24px;
}
.clear {
  clear: both;
}
#page-wrap {
  width: 800px;
  margin: 40px auto 60px;
}
#pic {
  border: #999 3px solid;
  float: right;
  margin: -30px 10px 0 0;
  height: 200px;
  width: 180px;
  object-fit: cover;
}
h1 {
  margin: 0 0 16px 0;
  padding: 0 0 16px 0;
  font-size: 42px;
  font-weight: bold;
  letter-spacing: -2px;
  border-bottom: 1px solid #999;
}
h3 {
  font-size: 20px;
  margin: 0 0 6px 0;
  position: relative;
}
h3 span {
  position: absolute;
  bottom: -2rem;
  left: -10px;
  font-style: italic;
  font-family: Georgia, Serif;
  font-size: 16px;
  color: rgb(90, 90, 90);
  font-weight: normal;
}
p {
  margin: 0 0 16px 0;
}
a {
  color: rgb(90, 90, 90);
  text-decoration: none;
}
a:hover {
  border-bottom-style: solid;
  color: black;
}
ul {
  margin: 0 0 32px 17px;
}
#objective {
  width: 500px;
  float: left;
  text-align: left;
}
#objective p {
  font-family: Georgia, Serif;
  font-style: italic;
  color: #666;
}
dt {
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  text-align: right;
  padding: 0 26px 0 0;
  width: 150px;
  float: left;
  height: 100px;
  border-right: 1px solid #999;
}
dd {
  width: 600px;
  float: right;
}
dd.clear {
  float: none;
  margin: 0;
  height: 15px;
}
.formation {
  margin-left: 0;
  background-color: rgba(0, 0, 0, 0.05);
  border: solid 1px black;
  padding: 20px;
}
.formation h2 {
  font-size: 16px;
}
.formation ol {
  font-size: 13px;
}

.title {
  margin: 2rem 0;
  text-decoration: underline;
}
.techno {
  height: 75px;
  width: 75px;
}
.all-techno {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.skills {
  display: flex;
  justify-content: center;
  align-items: center;
}

.details {
  margin-bottom: 2rem;
}
